<h1>This Task</h1>
<h4> <%= @task.title %></h4>
<p> <%= @task.details %> </p>
<p> <%= @task.completed %> </p>

<p>
<%= link_to 'Edit Task', edit_task_path(@task) %>
</p>

<p>
<%= link_to 'Delete', task_path(@task), method: :delete %>
</p>
